* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar component */

nav {
  background-color: #21222a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.logo {
  display: flex;
  align-items: center;
  width: 100px;
}

h1 {
  font-size: 30px;
  padding-left: 30px;
  color: #61dafb;
}

nav p {
  font-size: 30px;
  font-weight: bolder;
  color: rgb(195, 242, 252);
}

/* main component */

.main-body {
  background-color: #282d35;

  height: 83vh;
  color: #fff;
  background-image: url("./images/react-icon-large.png");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: right;
}

.main-body h2 {
  font-size: 60px;
  padding-left: 130px;
  padding-top: 50px;
}

ul {
  padding-left: 150px;
  padding-top: 30px;
}
li {
  margin-bottom: 20px;
  font-size: 30px;
}
li::marker {
  font-size: 35px;
  color: #61dafb;
}

@media only screen and (max-width: 850px) {
  .main-body h2 {
    font-size: 50px;
    padding-left: 130px;
    padding-top: 50px;
  }

  ul {
    padding-left: 150px;
    padding-top: 30px;
  }
  li {
    margin-bottom: 20px;
    font-size: 30px;
  }
  li::marker {
    font-size: 25px;
    color: #61dafb;
  }
}

@media only screen and (max-width: 700px) {
  nav {
    display: block;
  }
  .main-body h2 {
    font-size: 2rem;
    padding-left: 20px;
    padding-top: 40px;
  }

  ul {
    padding-left: 30px;
    padding-top: 25px;
  }
  li {
    margin-bottom: 20px;
    font-size: 20px;
  }
  li::marker {
    font-size: 18px;
    color: #61dafb;
  }
}
